*{
    
    padding:0
    margin:0
}

/*Navbar style start*/

.navbar{
    display: flex;
    justify-content:space-around;
    padding-left: 20px;
}
.signin{
    padding: 10px 25px;
    border-radius: 8px;
    border-color: rgb(55, 133, 55);
    border: 2px solid;
    font-size: 20px;
    background-color: azure;
    color: #000000;
    
}

/*Navbar style end*/


/*Banner style start*/

.Ban{
    color: rgb(102, 104, 102);
}
.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #C6E4D6;
    width: 1125px;
    height: 560px;
    margin-left: 400px;
    border-radius: 20px;
    text-decoration: none;

}
.boxleft{
    margin-top: 150px;
}
.boxright{
    margin-top: 120px;
}
.banner-title{
    font-family:'Courier New',;
    font-weight: bolder;
    font-size: xx-large;
}
.banner_btn{
    padding: 10px 25px;
    border-radius: 5px;
    border-color: rgb(55, 133, 55);
    border: none;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    background-color: #006A50;

}

/*Banner style end*/

main{
    width: 62%;
    background-color: #fffefe;
    margin: 0 auto;
}

/*The Vision of Future style start*/
.visionoffuture{
    text-align:justify;
    padding: 30px;
   
}
.thevision{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.thevisionstyle{

    text-align: justify;
    width: 325px;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.digital{
    background-color: #5490F5;
    

}
.digiimg{
    width: 50px;
    
}
.green{
    background-color: #09A15C;
}
.greenimg{
    width: 50px;
}
.modern{
    background-color: #FFC239;
}
.modimg{
    width: 50px;
}

/*The Vision of Future style end*/

/*Recent News Section Start*/

.newscontainer{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 350px;
    width: 100%;
    background-color: #f4f5f4;
    margin-top: 20px;
    padding-top: 40px;
    
}

.date{
    font-size: smaller;
}
.newsbutton{
    padding: 10px 25px;
    border-radius: 5px;
    border-color: rgb(55, 133, 55);
    border: none;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    background-color: #006A50;
}
.imgbox{
    
    border-radius: 15px;
}

.newscontainertwo{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 350px;
    width: 100%;
    background-color: #f4f5f4;
    margin-top: 20px;
    padding-top: 40px;
}
.imgboxtwo{
    height: 306px;
    width: 420px;
    border-radius: 15px;
}